body{
    margin: 0;
    font-size:x-large;
    font-family:myFirstFont;
}
.crochettoday{
    font-style: italic;
}
@font-face {
    font-family: myFirstFont;
    src: url(fonts/IndieFlower-Regular.ttf);
  }
@font-face {
    font-family: GochiHand;
    src: url(fonts/GochiHand-Regular.ttf);
  }
.heads{
    color:black;
    font-family: GochiHand;
    font-size:50px;
}

/* header */
header{
    background-color:rgb(249, 197, 213);
    top:0%;
    left:0%;
    position:fixed;
    width:100%;
    height: 9vh;
    opacity:100%;
    z-index:1;
    display:flex;
}
header a h1{
    font-family: myFirstFont;
    font-size: 5vh;
    /* color:rgb(101, 51, 67); */
    position:fixed;
    text-align:center;
    top:0%;
    left: 45%;
    transform: translate(-35%);
    margin:0;
    padding:2vh;
    text-decoration:none;
    color:black;
    font-family:GochiHand;
}

.headerimg{
    height: 8vh;
    margin:0;
    padding:1.25vh;
}
/* navigation */
nav{
    background-color:rgb(249, 153, 183);
    position:fixed;
    top:9vh;
    width: 100%;
    height:6.75vh;
    z-index:1;
}
nav ol{
    display: flex;
    justify-content: space-around;
    padding: 7px;
    margin:0;
}
nav li{
    list-style: none;
}
nav a:hover{
    color: #f1f1f1;
    background-color:rgb(242, 120, 159);
}
nav a{
    text-decoration: none;
    color:black;
    font-family: myFirstFont;
    font-size:large;
    padding:2px;
    border-radius:5px;
}
/* main */
 main{
    padding:0;
    font-family:myFirstFont;
}
 .heading{
    font-family:GochiHand;
    text-align:center;
    padding:5px;
    border-radius: 10px;
    font-size:50px;
}
/* index title image */
 .container {
    position: relative;
    text-align: center;
    color: white;
 }
 
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: myFirstFont;
    font-size:50px;
    font-family:GochiHand;

 }  
 .ct{
    font-size: 100px;
 }
 
 .titleimg{
    width:100%;
}
.welcome{
    font-family:GochiHand;
    text-align:center;
    padding:5px;
    border-radius: 10px;
    font-size:50px;
}
/* boxes in index&pattern */
.boxes{
    display:flex;
}
.box1{
    background-color:rgb(249, 197, 213);
    padding:5px;
    border-radius:10px;
    width:31.25%;
    margin-right:0.5%;
    margin-left:1%;
}
.box2{
    background-color:rgb(249, 197, 213);
    padding:5px;
    border-radius:10px;
    width:31.25%;
    margin:0% 0.5%;
}
.box3{
    background-color:rgb(249, 197, 213);
    padding:5px;
    border-radius:10px;
    width:31.25%;
    margin:0% 0.5%;

}
.boximg{
    width:100%;
    border-radius:10px;
}
.arrow{
    text-align:center;  
    font-size:x-large;
    background-color:rgb(249, 153, 183);
    width:30%;
    margin-left:35%;   
    text-decoration:bold; 
}
.arrow a{
    text-decoration:none;
    color:white;
}
.arrow:hover{
color:#F2789F;
}
/* products page formatting */
.products{
    background-color:rgb(254, 227, 236);
}
.pageo {
    margin-left: 160px;
    margin-right:160px;
    padding: 16.5vh 10px 10px 10px;
    font-family:myFirstFont;
    background-color:white;
}
  /* boxes in products */

  .obox1{
    border:1px solid grey;
    padding:5px;
    border-radius:10px;
    width:21%;
    margin-left:15px;
    margin-right:20px;
    margin-top:15px;
    margin-bottom: 15px;
}
.obox2{
    border:1px solid grey;
    padding:5px;
    border-radius:10px;
    width:21%;
    margin-left:10px;
    margin-right:20px;
    margin-top:15px;
    margin-bottom: 15px;
}
.obox3{
    border:1px solid grey;
    padding:5px;
    border-radius:10px;
    width:21%;
    margin-left:10px;
    margin-right:20px;
    margin-top:15px;
    margin-bottom: 15px;
}
.obox4{
    border:1px solid grey;
    padding:5px;
    border-radius:10px;
    width:21%;
    margin-left:10px;
    margin-right:20px;
    margin-top:15px;
    margin-bottom: 15px;

}
/* index text */
.irandomtext{
    font-family:myFirstFont;
    padding:5px;
    background-color:rgb(249, 153, 183);
    margin-top:10px;
    margin-bottom:10px;
}
/* general text */
.randomtext{
    font-family:myFirstFont;
    padding:5px;
}
/* side navigation */
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 15.75vh;
    left: 0;
    background-color: rgb(254, 227, 236);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family:myFirstFont;
    color: black;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    background-color:rgb(249, 153, 183);
  }
 /* general formatting for sidenav pages  */
 /* howto, whale and bee page formatting  */
 .pages {
    margin-left: 160px;
    padding: 20.75vh 90px;
    font-family:myFirstFont;
}
/* pattern page formatting */
.pageh {
    margin-left: 160px;
    padding-top: 16.5vh;
    font-family:myFirstFont;
}

/* community page formatting */
.pageg{
    margin-top:16.75vh;
    margin-left:160px;
    margin-right:160px;
    margin-bottom:10px;
    padding:0px 5px 5px 5px;
    color:rgb(85, 85, 85);
}
  /* how-to table formatting */
  .meanings table {
    border:collapse;
    width:100%;
  }
  .meanings td, th {
    border: 1px solid rgb(249, 197, 213, 0.792);
    text-align: left;
    padding: 8px;
    width:50%;
  }
  .meanings tr:nth-child(even) {
    background-color: rgb(249, 197, 213, 0.792);
  }
  
  /* some colours: rgba(255, 192, 203, 0.705) #dddddd */

  /* pattern table formatting */
  table {
    width:100%;    
  }
  tr,td{
    justify-content:space-around;
    text-align:center;
  }
  tbody>tr>:nth-child(2){
    width:50%;
    text-align:left;
   }
   tbody>tr>:nth-child(3){
    width:40%;
   }
   /* pattern/whale/bee instruction formats */
   .instructions{
    padding:12px;
   }
   .materials{
    padding:12px 0px 0px 0px;
   }
   ul{
    margin-top:0;
    margin-bottom:0;
   }
   .patternimg{
    width:36%;
    float:right;
    padding:5px 5px 20px 5px;
   }
   .headhr hr{
    width:60%;
    text-align:left;
    margin-left:0
   }
   /* feature page formatting */
   .pagee{
    margin-top:16.75vh;
    margin-bottom:10px;
}
   /* slideshow formatting */
   * {box-sizing: border-box}
   body {font-family: Verdana, sans-serif; margin:0}
   .mySlides {display: none}
   img {vertical-align: middle;}
   
   /* Slideshow container */
   .slideshow-container {
     width:100%;
     position: relative;
     margin: auto;
   }
   
   /* Next & previous buttons */
   .prev, .next {
     cursor: pointer;
     position: absolute;
     top: 50%;
     width: auto;
     padding: 16px;
     margin-top: -22px;
     color: white;
     font-weight: bold;
     font-size: 18px;
     transition: 0.6s ease;
     border-radius: 0 3px 3px 0;
     user-select: none;
   }
   
   /* Position the "next button" to the right */
   .next {
     right: 0;
     border-radius: 3px 0 0 3px;
   }
   
   /* On hover, add a black background color with a little bit see-through */
   .prev:hover, .next:hover {
     background-color: rgba(0,0,0,0.8);
   }
   
   /* Caption text */
   .text {
     color: #f2f2f2;
     font-size: 25px;
     padding: 8px 12px;
     position: absolute;
     bottom: 60.5px;
     width: 100%;
     text-align: center;
     background-color:rgba(0, 0, 0, 0.325);
   }
   .text1{
    color: #f2f2f2;
     font-size: 25px;
     padding: 8px 12px;
     position: absolute;
     bottom: 8px;
     width: 100%;
     text-align: center;
     background-color:rgba(0, 0, 0, 0.325);

   }
   
   /* The dots/bullets/indicators */
   .dot {
     cursor: pointer;
     height: 15px;
     width: 15px;
     margin: 0 2px;
     background-color: #bbb;
     border-radius: 50%;
     display: inline-block;
     transition: background-color 0.6s ease;
   }
   
   .active, .dot:hover {
     background-color: #717171;
   }
   
   /* Fading animation */
   .fade {
     animation-name: fade;
     animation-duration: 1.5s;
   }
   
   @keyframes fade {
     from {opacity: .4} 
     to {opacity: 1}
   }
   

 /* footer formats */
.pagef {
    font-family:myFirstFont;
    display:flex;
    justify-content:space-around;
    width:100%;
}
footer{
    background-color:rgb(249, 197, 213);
    color:black;
    font-family: myFirstFont;
    font-size:large;
    text-align: left;
    width:100%;
    position:absolute;
    z-index:1;
    padding-top:20px;
}
footer ol{
    padding:0;
}
footer li{
    list-style: none;
    padding:5px;
}
footer a:hover{
    background-color: rgb(238, 105, 131);
}
footer a{
    text-decoration: none;
    color:black;
    font-family: myFirstFont;
    font-size:large;
}
.fheads a{
    padding:5px;
    font-size:30px;
}
.fheads{
    font-size:30px;
    color:black;
}
/* google maps formatting */
iframe{
    width:100%;
    height:400px;
    border:0;
}
/* about us page formatting  */
.pageg ul{
  padding-top:0;
  padding-bottom:0;
}
